<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1> New Menu Item</h1>
        <form action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}" method="POST">
            <p>Name:</p>
            <input type="text" name="name" value="Name">
            <input type="submit"  value="create">
        </form>
    </body>
</html>